# TODO: Review this list of archive PV's
$(CHAN):ChannelControlEMCY 1
$(CHAN):ChannelControlOnOff 1
$(CHAN):ChannelIsOn 1
$(CHAN):ChannelIsEmergency 1
$(CHAN):ChannelStatus 1
$(CHAN):CurrentBounds 1
$(CHAN):CurrentMax 1
$(CHAN):CurrentMeasure 1
$(CHAN):CurrentNominal 1
$(CHAN):CurrentTrip 1
$(CHAN):Resistance 1
$(CHAN):STATUS 1
$(CHAN):VoltageBounds 1
$(CHAN):VoltageMax 1
$(CHAN):VoltageMeasure 1
$(CHAN):VoltageNominal 1
$(CHAN):VoltageSet 1
$(CHAN):VoltageSet0 1
